{% extends 'base.html.twig' %}

{% block title %}登录 - 优优直播后台管理{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}


{% block body %}
<form class="form-signin text-center" method="post">
    <img class="mb-4" src="http://localhost:1073/UULiveStream/site/assets/site/images/logo2.png" alt="" width="100%">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">后台管理</h1>
    <label for="inputUsername" class="sr-only">Uuid</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="账号" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> 记住我
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</form>
{% endblock %}
